  .dropdown {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 50px;
      background-color: #F6F6F6;
  }

  .dropdown-header {
      background-color: #FF6060;
      color: white;
      padding: 15px;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .dropdown-body {
      color: #FF6060;
      border-radius: 0px 0px 10px 10px;
      overflow: hidden;
      max-height: 250px;
  }

  .dropdown-body.open {
      display: block;
      transition: max-height 1s;
  }

  .dropdown-body.false {
      max-height: 0px;
      transition: max-height 1s;
  }

  .dropdown-item {
      padding: 10px;
      line-height: 1.5em;
  }

  .dropdown-list-item {
      position: relative;
      line-height: 1.5em;
      top: -12px;
  }

  .ul-list-item {
      list-style: none;
      margin-block-start: 0em;
      margin-block-end: 0em;
      padding-inline-start: 10px;
  }

  .icon {
      font-size: 13px;
      color: #ffffff;
      transform: rotate(0deg);
      transition: all .2s ease-in-out;
  }

  .icon.open {
      transform: rotate(90deg);
  }