.logement_container {
    display: flex;
    justify-content: space-between;
    margin: 55px 70px;
}

.span_dropdown_container {
    margin: 30px 70px;
    display: flex;
    flex-direction: row;
}

.description {
    width: 100%;
    margin-right: 25px;
}

.equipements {
    width: 100%;
    margin-left: 25px;
}

.host-rating {
    display: flex;
    flex-direction: column;
}