.card_image {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    height: 300px;
    width: 350px;
    margin: 20px;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}

.card_image:hover {
    filter: brightness(65%);
}

.card_title {
    margin: 20px 40px;
    width: 300px;
    position: absolute;
    margin-top: 270px;
    color: white;
    z-index: 5;
}

/* Responsive tablet */
@media screen and (max-width: 980px) {
    .card_image {
        width: 100%;
        margin: 20px 0px;
    }
}

/* Responsive mobile */
@media screen and (max-width: 650px) {
    .card_title {
        width: 230px;
        margin-left: 20px;
    }
}